.logo {
    width: 256px;
    height: 256px;
    margin-top: 1.4rem;
}

.home {
    margin-top: 1.0rem;
}

p.buttons a {
    text-decoration: none;
}

p.buttons a i {
    margin-right: 5px;
}

.example-container {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 4px;
    margin-bottom: 30px;
}

mat-spinner-button, mat-bar-button {
    margin-right: 25px;
}

.example-header {
    width: 100%;
    margin-bottom: 0px;
}

button {
    outline: none;
}