<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
				<img src="assets/logo.svg" alt="mat-progress-buttons logo" class="logo">
			</div>
			<div class="col-sm-8 text-center text-md-left">
				<h1>Mat Progress Buttons</h1>
				<p>Simple Material Buttons With Progress indicators</p>
				<p>Scroll down to see it in action!</p>
				<p class="buttons">
					<a mat-stroked-button color="primary" href="https://github.com/michaeldoye/mat-progress-buttons" target="_blank"><i class="fa fa-github fa-lg"></i>  Code on Github</a>
					<a mat-stroked-button color="primary" href="doc/index.html" target="_blank"><i class="fa fa-book fa-lg"></i>  Documentation</a>
					<a mat-stroked-button color="primary" href="#" (click)="editOnStackBlitz()"><i class="fa fa-bolt fa-lg"></i>  Edit on StackBlitz</a>
        		</p>
			</div>
		</div>

	</div>
</div>




<section class="home">
  <div class="container">
		<!-- put your content here-->
		<h2>Progress Spinner Button</h2>
		<hr />

		<div class="example-container">
			<mat-toolbar>
				<p class="example-header">
					<span>Demo</span> <span class="pull-right"><button mat-icon-button><i class="fa fa-bolt fa-lg"></i></button></span>
				</p>
			</mat-toolbar>
			<mat-tab-group mat-stretch-tabs>
				<mat-tab label="Preview"> 
					<div style="padding: 30px;">
						<mat-spinner-button (click)="someFunc()" [options]="spinnerButtonOptions"></mat-spinner-button>
						<mat-spinner-button (click)="someFunc1()" [options]="spinnerButtonOptions1"></mat-spinner-button> 
						<mat-spinner-button (click)="someFunc2()" [options]="spinnerButtonOptions2"></mat-spinner-button>
					</div> 
				</mat-tab>
				<mat-tab label="Usage">
					<div style="padding: 30px;">
						<p><strong>Template</strong></p>
						<pre><code highlight [code]="strokedCodeHTML" [language]="'html'"></code></pre>
						<p><strong>Class</strong></p>
						<pre><code highlight [code]="strokedCode" [language]="'typescript'"></code></pre>
					</div>
				</mat-tab>
				<mat-tab label="Options">content</mat-tab>
			</mat-tab-group>
		</div>

		<h2>Progress Bar Button</h2>
		<hr />
		<div class="example-container">
			<mat-toolbar>Demo</mat-toolbar>
			<mat-tab-group mat-stretch-tabs>
				<mat-tab label="Preview"> 
					<div style="padding: 30px;">
						<mat-spinner-button (click)="someFunc2()" [options]="spinnerButtonOptions2"></mat-spinner-button> 
					</div> 
				</mat-tab>
				<mat-tab label="Usage">
					<div class="code-example" style="padding: 30px;">
							<code><pre>{{defaultCode}}</pre></code>
					</div>
				</mat-tab>
				<mat-tab label="Options">content</mat-tab>
			</mat-tab-group>
		</div>

  </div>
</section>