<button mat-button
  [type]="options.type"
  [color]="options.buttonColor"
  [class.active]="options.active"
  [class.fullWidth]="options.fullWidth"
  [class.mat-raised-button]="options.raised"
  [class.mat-stroked-button]="options.stroked"
  [class.mat-flat-button]="options.flat"
  [class.mat-fab]="options.fab"
  [disabled]="options.disabled">

  <span
    class="button-text"
    [class.active]="options.active">
    {{ options.text }}
  </span>

  <mat-spinner class="spinner"
    [diameter]="options.spinnerSize"
    [color]="options.spinnerColor"
    [mode]="options.mode"
    [value]="options.value"
    [class.active]="options.active">
  </mat-spinner>
</button>
