:host {
  button {
    outline: none;
    &.active {
      cursor: not-allowed;
    }
    &/deep/ .mat-button-wrapper {
      display:flex; 
      align-items: center;
      justify-content: center;
    }
    &.fullWidth {
      width: 100%;
    }
    .spinner {
      position: absolute;
      top: 25%;
      opacity:0;
      transition: opacity .3s ease-in-out;
      &.active {
        opacity: 1;
      }
    }
    .button-text {
      opacity: 1;
      transition: opacity .3s ease-in-out;
      &.active {
        opacity: 0;
      }
    }
  }
}