<button
  mat-button
  [type]="buttonOptions.type"
  [color]="buttonOptions.buttonColor"
  [class.active]="buttonOptions.active"
  [class.fullWidth]="buttonOptions.fullWidth"
  [class.mat-raised-button]="buttonOptions.raised"
  [class.mat-stroked-button]="buttonOptions.stroked"
  [class.mat-flat-button]="buttonOptions.flat"
  [class.mat-fab]="buttonOptions.fab"
  [disabled]="buttonOptions.active || buttonOptions.disabled"
  [disableRipple]="buttonOptions.disableRipple"
>
  <span
    class="button-text"
    *ngIf="!buttonOptions.fab"
    [class.active]="buttonOptions.active && !buttonOptions.disabled"
  >
    {{ buttonOptions.text }}
  </span>

  <ng-container *ngIf="buttonOptions.fab && buttonOptions.icon">
    <mat-icon>{{ buttonOptions.icon }}</mat-icon>
  </ng-container>

  <mat-spinner
    class="spinner"
    [diameter]="buttonOptions.fab ? 58 : buttonOptions.spinnerSize"
    [color]="buttonOptions.spinnerColor"
    [mode]="buttonOptions.mode"
    [value]="buttonOptions.value"
    [class.active]="buttonOptions.active && !buttonOptions.disabled"
  >
  </mat-spinner>
</button>
