:host {
  button {
    &.active {
      cursor: not-allowed;
    }
    &.fullWidth {
      width: 100%;
    }
    .bar {
      position:absolute;
      top: 0;
      left: 0;
    }
    mat-icon {
      padding-right: 5px;
      &.is-mat-icon {
        font-size: 18px;
        position: relative;
        top: 3px;
      }
    }
  }
}
